<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.palladiosimulator.dataflow.confidentiality.pcm.querydsl.ui.custom.launchConfigurationType.dslanalysis">
    <stringAttribute key="allocation" value="/FlowHighLowRemote/default.allocation"/>
    <stringAttribute key="query" value="/FlowHighLowRemote/highLowSimple.DCPDSL"/>
    <stringAttribute key="result" value="/FlowHighLowRemote/results.txt"/>
    <stringAttribute key="usageModel" value="/FlowHighLowRemote/default.usagemodel"/>
</launchConfiguration>
