<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.palladiosimulator.dataflow.confidentiality.pcm.querydsl.ui.custom.launchConfigurationType.dslanalysis">
    <stringAttribute key="allocation" value="/FlowHighLowAssembly/default.allocation"/>
    <stringAttribute key="query" value="/FlowHighLowAssembly/highLowAssembly.DCPDSL"/>
    <stringAttribute key="result" value="/FlowHighLowAssembly/results.txt"/>
    <stringAttribute key="usageModel" value="/FlowHighLowAssembly/default.usagemodel"/>
</launchConfiguration>
